@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    cursor: none;
}

.transitionn{
    transition: all 0.5s ease-in-out;
}

.specialfont{
    font-family: 'Dancing Script', 'Helvetica Neue', cursive;
    font-weight: 800

};

.z{
    z-index: 10000000;
}

.zl{
    z-index: 1;
}