@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    cursor: none;
}

.transitionn{
    transition: all 0.5s ease-in-out;
}

.specialfont{
    font-family: 'Dancing Script', 'Helvetica Neue', cursive;
    font-weight: 800

};

